.bgM{
    width: 100%;
    min-height: 100vh;
    background: white;
    background-blend-mode: darken;
    background-repeat: no-repeat;
    background-attachment: fixed;
    box-sizing: border-box;
}
